.wrapperTextField {
    position: relative;
    display: flex;
    flex-direction: column;
}

.transparent {
    .textField {
        border: none;
        background: transparent;
        padding: 0;
        border-radius: unset;
    }
}


.textField {
    font-family: Arial;
    border-radius: 12px;
    font-size: 14px;
    letter-spacing: -0.3px;
    border: 1px solid #bfc5ca;
    background-color: white;
    padding: 8px 12px;
    outline: none;
    resize: none;
    &:disabled {
        background-color: #eff0f1;
        border: 1px solid #eff0f1;
        color: #616e7c;
    }

    &.error {
        border-color: red;
    }
}

.light {
    &.transparent {
        .textField {
            border-bottom: 1px solid white;
        }
    }

    .textField {
        color: white;

        &::placeholder {
            color: rgba(220, 220, 220, 100);
        }
    }
}

.dark {
    &.transparent {
        .textField {
            border-bottom: 1px solid black;
        }
    }

    .textField {
        color: black;

        &::placeholder {
        }
    }
}

.label {
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.2px;
    margin-bottom: 8px;
}

.errorMsg {
    position: absolute;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.2px;
    bottom: -24px;
    color: red;
    z-index: 10;
}
