.footerContainer {
  display: flex;
  flex-direction: row;
  padding: 12px;
  box-shadow: 0px -2px 2px 1px rgba(0,0,0,0.2);
  background: #0099ff;
  //border-top-right-radius: 8px;
  //border-top-left-radius: 8px;
  border-radius: 8px;
  height: fit-content;
  justify-content: space-between;
}

.tags {
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 4px;
  color: white;
  font-weight: bold;
  height: fit-content;
  flex-wrap: wrap;
}

.controlBtns {
  display: flex;
  flex-direction: row;
  gap: 8px;
  color: white;

  button {
    height: 42px;
  }
}