.tile {
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: fit-content;
  height: fit-content;
}

.content {
  display: flex;
  flex-direction: column;
}