.createModalContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  height: 100%;
  --height: 70px;

  > * {
    width: 100%;

    textarea {
      flex-grow: 1;
      font-size: 16px;
      line-height: 24px;
      height: var(--height);
    }
  }
}

.main {
  display: flex;
  flex-direction: row;
  height: 100%;
  gap: 8px;
}

.aside {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-radius: 8px;
  background: #0D9276;
  gap: 8px;
}


.titles {
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  background: #40A2E3;
  color: white;

  > * {
    flex: 1;

    > div {
      font-weight: bold;
    }
  }
  input {
    padding: 6px 12px;
  }
}

.sections {
  display: flex;
  flex-direction: row;
  gap: 8px;
  overflow: auto;
  flex-wrap: wrap;
  position: relative;
  flex-grow: 1;

  > * {
    width: 100%;
    height: 100%;
  }
}

.about, .idea {
  width: calc(50% - 4px);
}

.feedback {
  --height: 500px;
}

.negativeAspects {
  --height: 500px;
}

.textField > div, .label {
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 4px;
  font-weight: 600;
  color: white;
}

.twoFields {
  display: flex;
  flex-direction: row;
  gap: 8px;

  > * {
    flex-grow: 1;
  }
}


.scoreList {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.score {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: white;
  gap: 8px;
}

.scoreValue {
  display: flex;
  flex-direction: row;
  font-size: 1.2em;
  font-weight: bolder;
  gap: 2px;
}

.textFieldAsText input {
  color: inherit;
  border: none;
  font-size: inherit;
  font-weight: bolder;
  font-family: inherit;
  background: transparent;
  width: 1.3em;
  border-bottom: 1px solid white;
  padding: 0;
  border-radius: unset;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  &[type=number] {
    -moz-appearance:textfield; /* Firefox */
  }
}