.titles {
  display: flex;
  background: #40A2E3;
  flex-grow: 1;
  width: 100%;

  div:has(input) {
    width: 100%;
  }
}

.titleContent {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-content: stretch;
}