.scoreContainer {
  background: #00aa5e;
}

.scoreList {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.score {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  gap: 8px;
}

.scoreValue {
  gap: 2px;
}

.textFieldAsText input {
  color: inherit;
  border: none;
  font-size: inherit;
  font-weight: bolder;
  font-family: inherit;
  background: transparent;
  width: 1.3em;
  border-bottom: 1px solid white;
  padding: 0;
  border-radius: unset;
}